
body{
  background-color: #eeeeee;
}

@media (max-width: 991.98px) {
  .show {
    height: calc(100vh - 56px);
  }
  .navbar {
    align-items: start;
  }
  div.navbar-nav {
    width: 75%;
  }
  div.navbar-nav > .nav-link {
    font-size: 2.5rem;
  }
}
.main {
  margin-top: 62px;
  min-height: calc(100vh - 132.67px);
  padding: 0;
}

@media (max-width: 991.98px) {
  .main {
    margin-top: 56px;
  }
}
